<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.angryarm64.stage24"
    android:versionCode="26164"
    android:versionName="0.26.164">

    <uses-sdk android:minSdkVersion="23" android:targetSdkVersion="28" />

    <application
        android:allowBackup="false"
        android:debuggable="true"
        android:extractNativeLibs="true"
        android:hasCode="false"
        android:label="Angry Birds"
        android:icon="@drawable/app_icon"
        android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">

        <activity
            android:name="android.app.NativeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize|screenLayout|uiMode"
            android:exported="true"
            android:screenOrientation="landscape">

            <meta-data
                android:name="android.app.lib_name"
                android:value="angryarm64" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
